.head-title {
    color: black;
}

.quotes {
    background-color: black;
    color: whitesmoke;
}

.nav-button {
    flex: row;
}

img {
    width: 450px;
    height: 400px;
}

.andrew-intro {
    background-color: black;
    color: whitesmoke;
    margin: 25px 0;
}

.intro-p {
    margin: 25px 25px 25px 0;
}