body {
    background: whitesmoke;
    font-family: "Tinos", sans-serif;
}

.head-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.quote1 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.quotes {
    background-color: black;
    color: whitesmoke;
}

.frontpgimg {
    border: 10px solid black;
    size: 2.5rem;
}

.blurb h2 {
    color: black;
    font-size: 2.5rem;
}

.content {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 100px;
}

.content2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: black;
    color: whitesmoke;
}

.head-title {
    color: black;
}



.nav-button {
    flex: row;
}

img {
    width: 450px;
    height: 400px;
}

.andrew-intro {
    background-color: black;
    color: whitesmoke;
    margin: 25px 0;
}

.lead {
    margin: 25px 25px 25px 0;
}